.snapshot {
    width: 100%;
    height: 100vh;
    height: 100svh;
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15rem;
    padding-bottom: 15rem;
    position: relative;
    overflow: hidden;
}

.postersWrapper {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    z-index: 99;
    pointer-events: none;
    mask-image: linear-gradient(to right, transparent, black 40%);
    opacity: 1;
}

.snapshotContent {
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    z-index: 10;
}

.title {
    font-family: var(--font-bigcaslon);
    font-size: 6rem;
    line-height: 1.05;
    color: var(--white);
}

.italic {
    color: var(--black);
    font-family: var(--font-nohemi);
    font-weight: 600;
    font-style: italic;
    
}

.description {
    font-family: var(--font-nohemi);
    font-size: clamp(2rem, 2vw, 2rem);
    font-weight: 400;
    max-width: 700px;
    color: var(--black);
}
