.promise {
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 100%;
    padding: clamp(3rem, 10vw, 100px) clamp(1.25rem, 5vw, 50px);
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
}

.title {
    font-size: clamp(2.5rem, 6vw, 6rem);
    width: 90%;
    max-width: 700px;
    font-weight: 300;
    margin-bottom: clamp(1.5rem, 5vw, 50px);
    line-height: 1;
    color: var(--secondary);
    font-family: var(--font-bigcaslon);
}

.container {
    width: 90%;
    max-width: 1200px;
    height: 100%;
}

.text {
    color: var(--black);
    font-size: clamp(1.25rem, 3vw, 3rem);
    font-weight: thin;
}

.highlight {
    color: var(--black);
    font-family: var(--font-nohemi);
    font-weight: 600;
    font-style: italic;
}

.button {
    margin-top: 2rem;
}
