.highlights {
    width: 100%;
    height: 100vh;
    background-color: var(--bg);
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: start;
    padding: 2rem 4rem;
}

.title {
    font-size: 8rem;
    text-align: start;
    line-height: 1;
    font-family: var(--font-nohemi);
}